[Desktop Entry]
Name=RealCode
Comment=RealCode for Scripting
Exec=RealCode
Icon=icon
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=RealCode
MimeType=text/plain;
