# Выходные бинарники
Linux_Bin/
Windows_Bin/
MacOS_Bin/
dist/
build/
*.spec

plugin/
plugins/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

CODE_GITLAB.txt

.exe
.AppImage
.snap

# Бэкапы main.py
backup_main/

# Секреты (важно!)
config.py

# Настройки пользователя
settings.json

# IDE
.idea/
.vscode/
*.swp
*.swo
.RLCode

# OS
.DS_Store
Thumbs.db
